.receptionist-home {
    .receptionist-home-body {
        width: 100%;
        display: flex;

        .receptionist-home-window {
            background-color: #a7adb6;
            width: 100%;
        }
    }
}