.admin-reports {
    width: 25rem;
    display: inline-block;
    height: 90.5vh;
    margin-left: 73rem;
    margin-top: 1rem !important;
    .reports {
        height: 100%;
        overflow-y: auto !important;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    p {
        margin-bottom: 0.4rem;
    }
    button {
        margin-right: 1rem;
    }
}