.admin-charts {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 71rem;
    height: 85vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}