.admin-home {
    .admin-body {
        display: flex;
        .col-1 {
            width: 100%;
            .outlet {
                width: 71rem;
                margin: 1rem;
                position: absolute;
                display: inline-block;
            }
        }
    }
}